<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
</head>
<body>
<a th:if="${currentUser == null}" href="/login">Login</a>
<a th:if="${currentUser != null}" href="/logout">Logout</a>
<span th:if="${currentUser != null}" th:text="Welcome + ' ' + ${currentUser.name}"></span>
<a th:if="${currentUser == null}" href="/register">Register</a> <br>
<a href="/">Home</a>
<a th:if="${currentUser != null && currentUser.userRole.name == 'ADMIN'}" href="/admin">Admin Panel</a>

My Orders:

<table>
    <tr>
        <th>order date</th>
        <th>amount</th>
        <th>book title</th>
        <th>User name</th>
        <th>User phone number</th>
    </tr>
    <tr th:each="order: ${orders}">
        <td th:text="${order.getOrderDateTime}"></td>
        <td th:text="${order.amount}"></td>
        <td th:text="${order.book.title}"></td>
        <td th:text="${order.user.name}"></td>
        <td th:text="${order.user.phoneNumber}"></td>
    </tr>
</table>

</body>
</html>